
/* Ubuntu */
@font-face {
  font-family: "Ubuntu";
  src: url("fonts/ubuntu/regular.ttf");
}

@font-face {
  font-family: "Ubuntu Bold";
  src: url("fonts/ubuntu/bold.ttf");
}

@font-face {
  font-family: "Ubuntu Italic";
  src: url("fonts/ubuntu/italic.ttf");
}

@font-face {
  font-family: "Ubuntu Light";
  src: url("fonts/ubuntu/light.ttf");
}

@font-face {
  font-family: "Ubuntu Medium";
  src: url("fonts/ubuntu/light.ttf");
}

@font-face {
  font-family: "Ubuntu Bold Italic";
  src: url("fonts/ubuntu/bold-italic.ttf");
}

@font-face {
  font-family: "Ubuntu Light Italic";
  src: url("fonts/ubuntu/light-italic.ttf");
}

@font-face {
  font-family: "Ubuntu Medium Italic";
  src: url("fonts/ubuntu/bold-italic.ttf");
}

/* Ubuntu Condensed */
@font-face {
  font-family: "Ubuntu Condensed";
  src: url("fonts/ubuntu/condensed/regular.ttf");
}

/* Ubuntu Mono */
@font-face {
  font-family: "Ubuntu Mono";
  src: url("fonts/ubuntu/mono/regular.ttf");
}

@font-face {
  font-family: "Ubuntu Bold";
  src: url("fonts/ubuntu/mono/bold.ttf");
}

@font-face {
  font-family: "Ubuntu Italic";
  src: url("fonts/ubuntu/mono/italic.ttf");
}

@font-face {
  font-family: "Ubuntu Bold Italic";
  src: url("fonts/ubuntu/mono/bold-italic.ttf");
}

/* Free Mono */
@font-face {
  font-family: "Free Mono";
  src: url("fonts/free-mono/regular.ttf");
}

/* Free Mono Bold */
@font-face {
  font-family: "Free Mono Bold";
  src: url("fonts/free-mono/bold.ttf");
}

/* Free Mono Italic */
@font-face {
  font-family: "Free Mono Italic";
  src: url("fonts/free-mono/italic.ttf");
}

/* Free Mono Bold Italic */
@font-face {
  font-family: "Free Mono Bold Italic";
  src: url("fonts/free-mono/bold-italic.ttf");
}

/* Nimbus Mono */
@font-face {
  font-family: "Nimbus Mono";
    src: url("fonts/nimbus-mono/regular.otf");
}

/* Nimbus Mono Bold */
@font-face {
  font-family: "Nimbus Mono Bold";
  src: url("fonts/nimbus-mono/bold.otf");
}

/* Nimbus Mono Italic */
@font-face {
  font-family: "Nimbus Mono Italic";
  src: url("fonts/nimbus-mono/italic.otf");
}

/* Nimbus Mono Bold Italic */
@font-face {
  font-family: "Nimbus Mono Bold Italic";
  src: url("fonts/nimbus-mono/bold-italic.otf");
}

/* Liberation Mono */
@font-face {
  font-family: "Liberation Mono";
  src: url("fonts/liberation-mono/regular.ttf");
}

/* Liberation Mono Bold */
@font-face {
  font-family: "Liberation Mono Bold";
  src: url("fonts/liberation-mono/bold.ttf");
}

/* Liberation Mono Italic */
@font-face {
  font-family: "Liberation Mono Italic";
  src: url("fonts/liberation-mono/italic.ttf");
}

/* Liberation Mono Bold Italic */
@font-face {
  font-family: "Liberation Mono Bold Italic";
  src: url("fonts/liberation-mono/bold-italic.ttf");
}
