/*
  This file is the main stylesheet. It load the system fonts and define the
  main tags appearance.
*/

/* <body> */
body {
  font-family: "Ubuntu";
  background-color: black;
  color: white;
  overflow: hidden;
}

/* Hide the <webview> */
#webview-container {
  z-index: 999999;
  background-color: transparent;
  position: absolute;
}

#webview-cover {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
}
