/*
  This file is the windows stylesheet. It manages the windows appearance.
*/

/* Invisible elements */
.invisible { display: none; }

/* ===== Windows and modals container ===== */

/* Windows */
body .night-window {
  position: absolute;
  z-index: 100;
}

/* Windows title bar */
body .night-window-title {
  background-color: #99CCFF;
  color: white;
  padding: 0;
  -webkit-user-select: none;
}

/* Windows title bar content */
body .night-window-title-content {
  font-family: "Liberation Mono";
  font-size: 14px;
  padding: 5px;
  width: 80%;
  max-width: 80%;
  overflow: hidden;
}

body .night-window-title-content:hover {
  cursor: default;
}

/* Windows title bar buttons */
body .night-window-title-buttons {
  padding: 0;
  padding-left: 5px;
  border-left: 1px solid gray;
}

/* Each button on windows title bar */
body .night-window-title-buttons span {
  padding: 5px;
}

body .night-window-title-buttons span:hover {
  background-color: #F2F2F2;
  color: #99CCFF;
  cursor: pointer;
}

/* Windows frame */
body .night-window-frame {
  position: absolute;
  top: 26px;
  left: 0;
  right: 0;
}

body .night-window-frame:not(iframe) {
  background-color: white;
  color: black;
  padding: 5px;
}

/* Minimized windows */
body .night-window.minimized {
  display: none;
}

/* ===== Launcher desktop ===== */

#launcher {
  z-index: 1;
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #80BFFF;
}

/* Taskbar */
#taskbar {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
  background-color: #3399FF;
  font-family: "Liberation Mono";
  font-size: 14px;
}

/* Tasks */
#taskbar div.task {
  border-right: 1px solid darkgray;
  display: inline-block;
  padding: 12px;
  overflow: hidden;
  cursor: default;
  -webkit-user-select: none;
}

/* Close button */
#taskbar div.task span {
  margin-left: 5px;
}

#taskbar div.task span:hover {
  cursor: pointer;
  color: red;
}

/* When a task is active */
#taskbar div.task.active {
  color: orange;
}

/* Close button for active tasks */
#taskbar div.task.active span {
  color: darkorange;
}

/* Invisible tasks */
#taskbar div.task.invisible {
  display: none;
}

/* Minimize tasks */
#taskbar div.task.minimized {
  background-color: #99CCFF;
}

/* ===== Notification area ===== */
#notifications {
  display: inline-block;
  float: right;
  border-left: 1px solid darkgray;
  height: 40px;
}

/* Clock */
#clock {
  padding: 3px;
  display: inline-block;
  /* no border-left here because every notification has a border-right
     property set */
  text-align: center;
  float: right;
  -webkit-user-select: none;
}

/* Desktop viewer */
#desktop-view {
  border-left: 1px solid gray;
  width: 6px;
  height: 40px;
  float: right;
  background-color: #5BADFF;
  -webkit-user-select: none;
}

#desktop-view:hover {
  background-color: #99CCFF;
}
